In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import itertools

In [2]:
df = pd.read_csv('C:/Users/HP/Downloads/gk_items.csv')
df

,Progress,UserLanguage,Collection,LE3.199,LE3.200,LE3.201,LE5.012,LE5.013,LE5.014,LE5.015,...,LE5.022,LE5.023,LE5.024,LE5.025,LE5.026,LE5.027,LE5.028,LE5.029,LE5.030,LE5.031
0,100,RU,Pilot,Strongly disagree,Strongly disagree,Strongly disagree,All the genes in DNA,,,99.90%,...,Many genes,Points of genetic variation,More than 90% the same,Is removed when passed from parent to offspring,No,CRISPR,No,TRUE,TRUE,There is an approximately 30% chance that some...
1,100,RU,Pilot,Agree,Strongly agree,Agree,The entire sequence of an individual's DNA,GCTA,,75%,...,,,,,Yes,,No,,,If someone has insomnia this is approximately ...
2,100,RU,Pilot,,,,,,,,...,,,,,,,,,,
3,100,RU,Pilot,,,,All the genes in DNA,GCTA,2 copies,99.90%,...,Many genes,Points of genetic variation,100% identical,Does not lead to the production of proteins,No,CRISPR,No,TRUE,TRUE,If someone has insomnia this is approximately ...
4,4,RU,Pilot,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1912,37,ES-ES,Spanish Collection,,,,,,,,...,,,,,,,,,,
1913,12,ES-ES,Spanish Collection,,,,,,,,...,,,,,,,,,,
1914,19,ES-ES,Spanish Collection,,,,,,,,...,,,,,,,,,,
1915,37,ES-ES,Spanish Collection,,,,,,,,...,,,,,,,,,,
1916,37,ES-ES,Spanish Collection,,,,,,,,...,,,,,,,,,,

In [3]:
shah = df[['LE3.199','LE3.200','LE3.201']].copy()
shah

                LE3.199            LE3.200            LE3.201
0     Strongly disagree  Strongly disagree  Strongly disagree
1                 Agree     Strongly agree              Agree
2
3
4
...                 ...                ...                ...
1912
1913
1914
1915
1916

[1917 rows x 3 columns]

In [4]:
list_zero= ['Strongly disagree', 'Disagree']
list_one= ['Strongly agree', 'Agree']
list_two= ['Neutral']
variables = ['LE3.199', 'LE3.200', 'LE3.201']

In [5]:
list(itertools.permutations(variables))

[('LE3.199', 'LE3.200', 'LE3.201'),
 ('LE3.199', 'LE3.201', 'LE3.200'),
 ('LE3.200', 'LE3.199', 'LE3.201'),
 ('LE3.200', 'LE3.201', 'LE3.199'),
 ('LE3.201', 'LE3.199', 'LE3.200'),
 ('LE3.201', 'LE3.200', 'LE3.199')]

In [6]:
comb = list(itertools.combinations(variables, 2))

In [7]:
list_zero

['Strongly disagree', 'Disagree']

In [8]:
shah.columns = ['var199', 'var200', 'var201']
shah['count'] = 1
shah

                 var199             var200             var201  count
0     Strongly disagree  Strongly disagree  Strongly disagree      1
1                 Agree     Strongly agree              Agree      1
2                                                                  1
3                                                                  1
4                                                                  1
...                 ...                ...                ...    ...
1912                                                               1
1913                                                               1
1914                                                               1
1915                                                               1
1916                                                               1

[1917 rows x 4 columns]

In [9]:
shah.replace(' ', 'No response', inplace = True)

In [10]:
shah

                 var199             var200             var201  count
0     Strongly disagree  Strongly disagree  Strongly disagree      1
1                 Agree     Strongly agree              Agree      1
2           No response        No response        No response      1
3           No response        No response        No response      1
4           No response        No response        No response      1
...                 ...                ...                ...    ...
1912        No response        No response        No response      1
1913        No response        No response        No response      1
1914        No response        No response        No response      1
1915        No response        No response        No response      1
1916        No response        No response        No response      1

[1917 rows x 4 columns]

In [11]:
gape = shah.groupby(['var199', 'var200', 'var201'])['count'].count().reset_index()
gape

                var199             var200                      var201  count
0                Agree              Agree                       Agree    281
1                Agree              Agree                    Disagree      5
2                Agree              Agree  Neither agree nor disagree     33
3                Agree              Agree                 No response      2
4                Agree              Agree              Strongly agree     35
..                 ...                ...                         ...    ...
111  Strongly disagree  Strongly disagree                    Disagree      2
112  Strongly disagree  Strongly disagree  Neither agree nor disagree      3
113  Strongly disagree  Strongly disagree                 No response      1
114  Strongly disagree  Strongly disagree              Strongly agree      1
115  Strongly disagree  Strongly disagree           Strongly disagree     46

[116 rows x 4 columns]

In [29]:
prepare1= shah.groupby(['var199', 'var200', 'var201'])['count'].count().reset_index()
prepare1

                var199             var200                      var201  count
0                Agree              Agree                       Agree    281
1                Agree              Agree                    Disagree      5
2                Agree              Agree  Neither agree nor disagree     33
3                Agree              Agree                 No response      2
4                Agree              Agree              Strongly agree     35
..                 ...                ...                         ...    ...
111  Strongly disagree  Strongly disagree                    Disagree      2
112  Strongly disagree  Strongly disagree  Neither agree nor disagree      3
113  Strongly disagree  Strongly disagree                 No response      1
114  Strongly disagree  Strongly disagree              Strongly agree      1
115  Strongly disagree  Strongly disagree           Strongly disagree     46

[116 rows x 4 columns]

In [59]:
px.bar(prepare1, x="var199", y="count", color="var201",
             title="Agreement Counts by Response Category (var199 & var200)")

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['variable', 'value_x', 'value_y'] but received: var199

In [44]:
gp = shah.groupby(['var199', 'var200', 'var201'])['count'].count().reset_index()
gp

                var199             var200                      var201  count
0                Agree              Agree                       Agree    281
1                Agree              Agree                    Disagree      5
2                Agree              Agree  Neither agree nor disagree     33
3                Agree              Agree                 No response      2
4                Agree              Agree              Strongly agree     35
..                 ...                ...                         ...    ...
111  Strongly disagree  Strongly disagree                    Disagree      2
112  Strongly disagree  Strongly disagree  Neither agree nor disagree      3
113  Strongly disagree  Strongly disagree                 No response      1
114  Strongly disagree  Strongly disagree              Strongly agree      1
115  Strongly disagree  Strongly disagree           Strongly disagree     46

[116 rows x 4 columns]

In [47]:
melted_data = gp.drop('count', axis=1)  # Drop the 'count' column

In [48]:
mvdf = pd.melt(melted_data)

In [49]:
mvdf

    variable                       value
0     var199                       Agree
1     var199                       Agree
2     var199                       Agree
3     var199                       Agree
4     var199                       Agree
..       ...                         ...
343   var201                    Disagree
344   var201  Neither agree nor disagree
345   var201                 No response
346   var201              Strongly agree
347   var201           Strongly disagree

[348 rows x 2 columns]

In [50]:
mvdf.columns

Index(['variable', 'value'], dtype='object')

In [51]:
mvdf.groupby(['variable']).value.count() # groupby single column
cmvdf = mvdf.groupby(['variable']).value.count().reset_index()
cmvdf

  variable  value
0   var199    116
1   var200    116
2   var201    116

In [52]:
mvdf.groupby(['variable']).value.count() # groupby single column
cmvdf = mvdf.groupby(['variable']).value.count().reset_index()
cmvdf

  variable  value
0   var199    116
1   var200    116
2   var201    116

In [54]:
c2mvdf = pd.DataFrame(cmvdf)
c2mvdf

  variable  value
0   var199    116
1   var200    116
2   var201    116

In [55]:
c2mvdf.columns

Index(['variable', 'value'], dtype='object')

In [56]:
c2mvdf.index

RangeIndex(start=0, stop=3, step=1)

In [57]:
c2mvdf['info'] = c2mvdf.index

In [58]:
c2mvdf

  variable  value  info
0   var199    116     0
1   var200    116     1
2   var201    116     2