In [1]:
#Create a list, dictionary by generating random numbers

In [14]:
import random 
import pandas as pd
import itertools

In [10]:
sha = [random.randint(100,200) for _ in range(20)]
print (sha)

[148, 115, 106, 181, 102, 179, 178, 197, 161, 163, 173, 199, 181, 177, 198, 196, 101, 188, 126, 190]

In [7]:
#creating list which empty 
my_list1 = []
#applying for loop with range to get specific number or locations 
#then the random number are coming between 100 and 200
# and finally we append all the random numbers to empty lits
sha = [random.randint(100,200) for _ in range(20)]

for z in range (20):
    moon = random.randint(100,200)
    my_list1.append(moon)
print (my_list1)

[124, 157, 193, 107, 109, 134, 187, 152, 107, 130, 165, 126, 104, 169, 119, 122, 176, 161, 133, 187]

In [13]:
my_dictionary = {"yoss":my_list1}
my_dictionary

{'yoss': [124,
  157,
  193,
  107,
  109,
  134,
  187,
  152,
  107,
  130,
  165,
  126,
  104,
  169,
  119,
  122,
  176,
  161,
  133,
  187]}

In [18]:
#creating data frame from list
data_frame_shafeeq = pd.DataFrame(my_list1)
data_frame_shafeeq

      0
0   124
1   157
2   193
3   107
4   109
5   134
6   187
7   152
8   107
9   130
10  165
11  126
12  104
13  169
14  119
15  122
16  176
17  161
18  133
19  187

In [28]:
%%time 
for index, row in data_frame_shafeeq.iterrows():
    print(row)

0    124
Name: 0, dtype: int64
0    157
Name: 1, dtype: int64
0    193
Name: 2, dtype: int64
0    107
Name: 3, dtype: int64
0    109
Name: 4, dtype: int64
0    134
Name: 5, dtype: int64
0    187
Name: 6, dtype: int64
0    152
Name: 7, dtype: int64
0    107
Name: 8, dtype: int64
0    130
Name: 9, dtype: int64
0    165
Name: 10, dtype: int64
0    126
Name: 11, dtype: int64
0    104
Name: 12, dtype: int64
0    169
Name: 13, dtype: int64
0    119
Name: 14, dtype: int64
0    122
Name: 15, dtype: int64
0    176
Name: 16, dtype: int64
0    161
Name: 17, dtype: int64
0    133
Name: 18, dtype: int64
0    187
Name: 19, dtype: int64
CPU times: total: 15.6 ms
Wall time: 11.6 ms

why not use iteration row by row.... 
Looping through data in rows one by one is slow for big tables in Python.

Better ways exist! Use built-in functions or apply your own function to the whole table at once. Less loops, cleaner code, faster analysis!

references 
1. https://www.tutorialspoint.com/generating-random-number-list-in-python
2. https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/
3. https://www.freecodecamp.org/news/how-to-iterate-over-rows-with-pandas-loop-through-a-dataframe/
4. https://www.reddit.com/r/learnpython/comments/g6pl5y/why_is_iterating_over_rows_in_a_dataframe/
5. https://www.youtube.com/watch?v=daefaLgNkw0